<div>
  <table class="statistic-count table">
    <tr>
      <th colspan=5>Количество сгенерированных ников и имен</th>
    </tr>
    <tr>
      <th>World of Warcraft</th>
      <th>Guild Wars 2</th>
      <th>GTA San Andreas</th>
      <th>Minecraft</th>
      <th>Всего</th>
    </tr>
    <tr>
      <td><%= count_names(@wows) %></td>
      <td><%= count_names(@gws) %></td>
      <td><%= count_names(@samps) %></td>
      <td><%= count_names(@minecrafts) %></td>
      <td><%= number_with_delimiter(@total, delimiter: " ") %></td>
    </tr>
  </table>
</div>
<% cache do %>
<%= render partial: 'graph' %>
<% end %>
<% content_for :title, "График генерации ников и имен для онлайновых игр" %>
