<div class="statistic">


<h1>Лучшие имена и ники</h1>

<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
  <h3>World of Warcraft</h3>
  Создано ников:
  <%= number_with_delimiter(@statistics.where(:game => "wow").count, delimiter: " ") %>
  <hr>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <h3>San Andreas</h3>
  Создано ников:
  <%= number_with_delimiter(@statistics.where(:game => "samp").count, delimiter: " ") %>
  <hr>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <h3>Guild Wars 2</h3>
    Создано ников:
  <%= number_with_delimiter(@statistics.where(:game => "gw2").count, delimiter: " ") %>
  <hr>
</div>

</div>

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 nicknames">
    <% nicks = @statistics.where(game: "wow").last(20) %>
    <% nicks.each do |nick| %>
    <%= nick.name %>
    <br>
    <% end %>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 nicknames">
    <% nicks = @statistics.where(game: "samp").last(20) %>
    <% nicks.each do |nick| %>
    <%= nick.name %>
    <br>
    <% end %>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 nicknames">
    <% nicks = @statistics.where(game: "gw2").last(20) %>
    <% nicks.each do |nick| %>
    <%= nick.name %>
    <br>
    <% end %>
  </div>
</div>
</div>
<% content_for :title, "Статистика по самым лучшим никам" %>
