<h1>Listing statistics</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Race</th>
      <th>Sex</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.game %></td>
        <td><%= statistic.race %></td>
        <td><%= statistic.sex %></td>
        <td><%= statistic.name %></td>
        <td><%= link_to 'Show', statistic %></td>
        <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic', new_statistic_path %>
