<div>
  <table class='statistic-count table'>
    <tr>
      <th colspan=5>Количество сгенерированных ников и имен</th>
    </tr>
    <tr>
      <th>World of Warcraft</th>
      <th>Guild Wars 2</th>
      <th>GTA San Andreas</th>
      <th>Minecraft</th>
      <th>Всего</th>
    </tr>
    <tr>
      <td><%= delimited_numbers @wows %></td>
      <td><%= delimited_numbers @gws %></td>
      <td><%= delimited_numbers @samps %></td>
      <td><%= delimited_numbers @minecrafts %></td>
      <td><%= delimited_numbers @total %></td>
    </tr>
  </table>
</div>
<% content_for :title, 'График генерации ников и имен для онлайновых игр' %>
