<p id="notice"><%= notice %></p>
<%= javascript_tag do %>
race = "<%=j @statistic.racename %>";
game = "<%=j @statistic.game %>"
<% end %>
<p>
  <strong>Game:</strong>
  <%= @statistic.game %>
</p>

<p>
  <strong>Race:</strong>
  <%= @statistic.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @statistic.sex %>
</p>

<p>
  <strong>Name:</strong>
  <%= @statistic.name %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
<% end %>