<%= form_for(@syllable) do |f| %>
  <% if @syllable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syllable.errors.count, "error") %> prohibited this syllable from being saved:</h2>

      <ul>
      <% @syllable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %><br>
    <%= f.text_field :game %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :syllable %><br>
    <%= f.text_field :syllable %>
  </div>
  <div class="field">
    <%= f.label :namepart %><br>
    <%= f.text_field :namepart %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
