<h1>Listing syllables</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Race</th>
      <th>Sex</th>
      <th>Position</th>
      <th>Syllable</th>
      <th>Namepart</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @syllables.each do |syllable| %>
      <tr>
        <td><%= syllable.game %></td>
        <td><%= syllable.race %></td>
        <td><%= syllable.sex %></td>
        <td><%= syllable.position %></td>
        <td><%= syllable.syllable %></td>
        <td><%= syllable.namepart %></td>
        <td><%= link_to 'Show', syllable %></td>
        <td><%= link_to 'Edit', edit_syllable_path(syllable) %></td>
        <td><%= link_to 'Destroy', syllable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Syllable', new_syllable_path %>
<% end %>