    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 about-race">
    <%= image_tag @wow.racename+"-avatar.png" %>
         <h1><%= @wow.pagename %></h1>
        <%= @wow.desc %>
        <%= link_to 'Edit', edit_wow_path(@wow) %> |
        <%= link_to 'Back', wows_path %>
    </div>