<div class="">
<%= javascript_tag do %>
race = "<%=j @wow.racename %>";
game = "<%=j @wow.game %>"
<% end %>
<%= render "wows/nickbox" %>
<%= render "wows/aboutrace" %>
</div>
<!--p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @wow.game %>
</p>

<p>
  <strong>Racename:</strong>
  <%= @wow.racename %>
</p>

<p>
  <strong>Pagename:</strong>
  <%= @wow.pagename %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wow.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @wow.desc %>
</p>

<%= @wow.game%>-<%= @wow.racename%>

<p>
  <strong>Customcode:</strong>
  <%= @wow.customcode %>
</p-->
