<div class="races">
         <div class="tab-pane <%= 'active' if params[:controller] == 'wows' %>" id="wow">
         <ul class="wow">
             <li>
          <%= link_to(image_tag("wow_human.png", :alt => "Человек"), "/wow/human", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_orc.png", :alt => "Орк"), "/wow/orc", :class => "horde", data: {no_turbolink: true}) %>
             </li>
             <li>
          <%= link_to(image_tag("wow_gnome.png", :alt => "Гном"), "/wow/gnome", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_troll.png", :alt => "Тролль"), "/wow/troll", :class => "horde", data: {no_turbolink: true}) %>
             </li>
             <li>
          <%= link_to(image_tag("wow_dwarf.png", :alt => "Дворф"), "/wow/dwarf", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_tauren.png", :alt => "Таурен"), "/wow/tauren", :class => "horde", data: {no_turbolink: true}) %>
             </li>
             <li>
          <%= link_to(image_tag("wow_nightelf.png", :alt => "Ночной эльф"), "/wow/nightelf", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_undead.png", :alt => "Нежить"), "/wow/undead", :class => "horde", data: {no_turbolink: true}) %>
             </li>
             <li>
          <%= link_to(image_tag("wow_draenei.png", :alt => "Дреней"), "/wow/draenei", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_bloodelf.png", :alt => "Блад эльф"), "/wow/bloodelf", :class => "horde", data: {no_turbolink: true}) %>
             </li>
             <li>
          <%= link_to(image_tag("wow_worgen.png", :alt => "Ворген"), "/wow/worgen", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_goblin.png", :alt => "Гоблин"), "/wow/goblin", :class => "horde", data: {no_turbolink: true}) %>
             </li>
             <li>
          <%= link_to(image_tag("wow_pandaren.png", :alt => "Пандарен"), "/wow/pandaren", :class => "alliance", data: {no_turbolink: true}) %><%= link_to(image_tag("wow_pandaren.png", :alt => "Пандарен"), "/wow/pandaren", :class => "horde", data: {no_turbolink: true}) %>
             </li>
         </ul>
         </div>
         <div class="tab-pane <%= 'active' if params[:controller] == 'gw2s' %>" id="gw2">
            <ul class="gw2">
            <% Gw2.all.each do |race| %>
            <li>
                <%= link_to(image_tag(race.game + "-"+ race.racename + ".png", :alt => race.pagename), "/gw2/" + race.racename, data: {no_turbolink: true}) %>
            </li>
                <% end %>
            </ul>
         </div>
         <div class="tab-pane <%= 'active' if params[:controller] == 'samps' %>" id="samp">
             <ul class="samp">
             <% Samp.all.each do |race| %>
             <li>
                <%= link_to(image_tag(race.game + "-" + race.racename + ".png", :alt => race.pagename), "/samp/" + race.racename, data: {no_turbolink: true}) %>
             </li>
             <% end %>
             </ul>
         </div>
        </div>