<div class="races">
  <div class="tab-pane <%= 'active' if params[:game_id] == 'wow' %>" id="wow">
    <ul class="wow">
     <li>
       <%= link_to(image_tag("wow-human.png", alt: "Человек"), "/wow/human", class: "alliance") %><%= link_to(image_tag("wow-orc.png", alt: "Орк"), "/wow/orc", class: "horde") %>
     </li>
     <li>
       <%= link_to(image_tag("wow-gnome.png", alt: "Гном"), "/wow/gnome", class: "alliance") %><%= link_to(image_tag("wow-troll.png", alt: "Тролль"), "/wow/troll", class: "horde") %>
     </li>
     <li>
       <%= link_to(image_tag("wow-dwarf.png", alt: "Дворф"), "/wow/dwarf", class: "alliance") %><%= link_to(image_tag("wow-tauren.png", alt: "Таурен"), "/wow/tauren", class: "horde") %>
     </li>
     <li>
       <%= link_to(image_tag("wow-nightelf.png", alt: "Ночной эльф"), "/wow/nightelf", class: "alliance") %><%= link_to(image_tag("wow-undead.png", alt: "Нежить"), "/wow/undead", class: "horde") %>
     </li>
     <li>
       <%= link_to(image_tag("wow-draenei.png", alt: "Дреней"), "/wow/draenei", class: "alliance") %><%= link_to(image_tag("wow-bloodelf.png", alt: "Блад эльф"), "/wow/bloodelf", class: "horde") %>
     </li>
     <li>
       <%= link_to(image_tag("wow-worgen.png", alt: "Ворген"), "/wow/worgen", class: "alliance") %><%= link_to(image_tag("wow-goblin.png", alt: "Гоблин"), "/wow/goblin", class: "horde") %>
     </li>
     <li>
       <%= link_to(image_tag("wow-pandaren.png", alt: "Пандарен"), "/wow/pandaren", class: "alliance") %><%= link_to(image_tag("wow-pandaren.png", alt: "Пандарен"), "/wow/pandaren", class: "horde") %>
     </li>
    </ul>
  </div>
  <div class="tab-pane <%= 'active' if params[:game_id] == 'gw2' %>" id="gw2">
    <ul class="gw2">
      <% Race.where(game: Game.find_by(slug: 'gw2')).each do |race| %>
        <li>
          <%= link_to(image_tag("gw2-#{race.slug}.png", alt: race.name), "/gw2/#{race.slug}") %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane <%= 'active' if params[:game_id] == 'samp' %>" id="samp">
     <ul class="samp">
       <% Race.where(game: Game.find_by(slug: 'samp')).each do |race| %>
         <li>
          <%= link_to(image_tag("samp-#{race.slug}.png", alt: race.name), "/samp/#{race.slug}") %>
         </li>
       <% end %>
     </ul>
  </div>
  <div class="tab-pane <%= 'active' if params[:game_id] == 'minecraft' %>" id="minecraft">
    <ul class="minecraft">
      <% Race.where(game: Game.find_by(slug: 'minecraft')).each do |race| %>
        <li>
          <%= link_to(image_tag("minecraft-#{race.slug}.jpg", alt: race.name), "/minecraft/#{race.slug}") %>
        </li>
      <% end %>
      <li><a href="/minecraft/skins"><img alt="Ники для Майнкрафт по скинам" src="/assets/steve.png" class="red-border"></a></li>
    </ul>
  </div>
</div>
