<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <title>
    <%= content_for?(:title) ? yield(:title) + ', какой ник придумаешь ты?' : 'Генератор ников для игр, какой ник придумать?' %>
  </title>
  <%= jquery_include_tag :google %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='Онлайн генератор имен и ников, ники для Minecraft, ники по скинам для Minecraft, генератор ников для Wow, ники для Доты, генератор ников для SAMP, генератор имен для Guild Wars 2'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name="google-site-verification" content="gu0D3yx2t7CPbgYC7aswGKAGxTj84SVb_Sg7fjZfEMQ" />
</head>
<body>
  <div class='container'>
    <div class='col-md-12'>
      <%= render 'layouts/header' %>
    </div>
    <div class='col-md-10'>
      <div class='thebody'>
        <%= render 'layouts/games' %>
        <div class='col-md-10 thecontent'>
          <%= render 'layouts/races' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class='col-md-2'>
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
  <div class='container'>
    <div class='col-md-12'>
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
